.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("/img/bg-pizza.jpg") center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 25%;
  padding: 20px;
  background-color: rgb(254, 252, 252);
}

.wrapper h1 {
  font-size: 24px;
  font-weight: 300;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm input {
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}

.loginForm button {
  width: 40%;
  border: none;
  padding: 15px 20px;
  background: teal;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.loginForm a {
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 85%;
    padding: 10px;
  }
}
